        body{
        background-color:red
        }
        hr{
        background-color: black;
        border-style: none;
        border-top-style:dotted;
        border-color: blue;
        border-width: 5px;
        width:5%
        }


        img{
        height:100px
        }

        h1 , h2 {color:green; font-size:100px;}
