        body{
        background-color:red
        }
        hr{
        background-color: black;
        border-style: none;
        border-top-style:dotted;
        border-color: black;
        border-width: 5px;
        width:15%
        }


        img{
        height:100px
        }

        h1 , h2 {color:blue; font-size:80px; width:80%}

        p {color:yellow; font-size:20px}
